body{
    background-color: black;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    font-size: 14px;
}

ul{
    list-style-type: none;
    width: 400px;
    height: 200px;
    padding-left: 20px;
    padding-top: 10px;
}

.container{
    background-image: url(./backgorund.png);
    background-repeat: no-repeat;
    background-size: 400px 200px;
    background-attachment: fixed;
    margin-left: 20px;
}
.nome{   
    font-size: 20px;
    padding: 10px;
    margin-left: -5px;
    font-weight: lighter;
}
a{
    text-decoration: none;
    color: black;
}
