*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Ariel, Helvetica, Arial, Helvetica, sans-serif;
    background-color: black;
}

.container{
    max-width: 1000px;
    margin: auto;
}

header{
    background-color: #48C5CE;
    color: white;
    text-align: center;
    padding: 10px;
}

.title{
    font-size: 26px;
}

section{
    padding: 20px;
    background-image: url('../images/people.jpg');
    background-size: cover;
    overflow: hidden;
}

.formContainer{
    max-width: 230px;
    background-color: #FFFFFFBB;
    padding: 20px;
    float: right;
}

h2{
    font-size: 16px;
}

.mb{
    margin-bottom: 15px;
}

input, select{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
}

input[type="submit"]{
    color: white;
    background-color: #48c5ce;
    font-weight: bold;
}

select{
    -webkit-appearance: none ;
    -moz-appearance: none;
    appearance: none;
    background-image: url('../images/arrow.jpg');
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
}

.picture{
    width: 160px;
}

footer{
    background-color: #202121;
    padding: 40px;
    text-align: center;
}

.description{
    display: inline-block;
    color:white;
    max-width: 40%;
    margin-left: 40px;
    text-align: left;
}
.description p, .description h3{
    margin-bottom: 20px;
}
.description h3{
    font-size: 24px;
}

@media screen and (max-width: 700px)
{
    .formContainer{
        max-width: 250px;
        float:none;
        margin: auto;  
        padding: 20px;           
    }

    .picture{
        width: 170px;
    }
    
    footer{
        padding: 30px;
        margin: auto;
    }
    .description{
        display: inline;        
        margin: auto;
        
    }
    .description p, .description h3{
        margin-bottom: 20px;
    }
    .description p{
        width: 250px;
        margin: auto;
        text-align: justify;
    }
    .description h3{
        margin-top: 10px;
        font-size: 24px;
        text-align: center;
    }
}

@media screen and (max-width: 400px)
{
    .formContainer{
        max-width: 300px;
        float:none;
        margin: auto;  
        padding: 30px;           
    }

    .picture{
        width: 170px;
    }
    
    footer{
        padding: 30px;
        margin: auto;
    }
    .description{
        display: inline;        
        margin: auto;
        
    }
    .description p, .description h3{
        margin-bottom: 20px;
    }
    .description p{
        width: 300px;
        margin: auto;
        text-align: justify;
    }
    .description h3{
        margin-top: 10px;
        font-size: 24px;
        text-align: center;
    }
}
